.daisy-avatars {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  