.blog-post {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-post-image {
  width: 100%;
  border-radius: 8px;
  height: 400px;
  object-fit: cover;
}

.blog-post-title {
  font-size: 2.7rem;
  color: #4737bb;
  text-align: center;
  margin-top: 30px;
  font-family: "Asap Condensed", sans-serif;
  letter-spacing: 1.5px;
}

.intro-text {
  font-size: 1.3rem;
  line-height: 1.8;
  color: #2a2170;
  text-align: justify;
  margin-bottom: 2rem;
}

.highlight-box {
  border-left: 4px solid #4737bb;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 5px rgba(71, 55, 187, 0.4), 0 0 10px rgba(71, 55, 187, 0.3);
}

.highlight-box h2 {
  color: #6d2c95;
  margin-bottom: 10px;
  font-size: 2rem;
}

.highlight-box p {
  color: #2a2170;
  font-size: 20px;
}

.comments-section {
  margin-top: 50px;
}

.comments-section p {
  color: #2a2170;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment-input,
.comment-textarea {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

.comment-input:focus,
.comment-textarea:focus {
  border-color: #4737bb;
}

.comment-button {
  background-color: #4737bb;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.comment-button:hover {
  background-color: #6d2c95;
  transform: scale(1.05);
}

.approved-comments {
  margin-top: 40px;
}

.comments-list {
  list-style-type: none;
  padding: 0;
}

.comment-item {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.success-message {
  color: #4737bb;
  font-weight: bold;
  background-color: #e0e7ff;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
}

.social-share {
  padding: 20px;
}

.share-buttons {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.code-block {
  color: #2a2170;
  padding: 1rem;
  margin: 1.5rem 0;
  border-radius: 8px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
}

@media (max-width: 768px) {
  .blog-post-title {
    font-size: 1.7rem;
  }
  .blog-post-image {
    height: 300px;
  }

  .intro-text {
    font-size: 1rem;
  }

  .highlight-box h2 {
    font-size: 1.5rem;
  }

  .highlight-box p {
    font-size: 16px;
  }

  .comments-section p {
    font-size: 1rem;
  }

  .comment-form {
    padding: 15px;
  }

  .comment-input,
  .comment-textarea {
    padding: 10px;
  }

  .comment-button {
    padding: 10px;
  }

  .comment-item {
    padding: 15px;
  }
}
