.text-primary {
  margin-top: 30px;
  color: #4737bb;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.text-tertiary {
  color: white;
}
span {
  color: white;
}
.heading5 {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #4737bb;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.py-\[100px\] {
  padding-top: 100px;
  padding-bottom: 100px;
}

.gap-8 {
  gap: 2rem;
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}

.text-center {
  text-align: center;
}

.left-aligned {
  justify-content: flex-start;
  width: 100%;
}

@media (max-width: 768px) {
  .flex-col {
    flex-direction: column;
  }

  .gap-8 {
    gap: 1rem;
  }

  .px-\[30px\] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .text-primary{
    font-size: 20px;
  }
  .text-tertiary span{
    font-size: 18px;
  }
}
