.header {
  background: linear-gradient(to right, #6d2c95, #4737bb);
  padding: 16px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background 0.3s ease;
}

.header.scrolled {
  backdrop-filter: blur(10px);
  background: rgba(71, 55, 187, 0.7);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 24px;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
  height: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-icon {
  width: 24px;
  height: 2px;
  background-color: white;
  position: relative;
  transition: all 0.3s ease;
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  width: 24px;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}

.menu-icon::before {
  top: -8px;
}

.menu-icon::after {
  top: 8px;
}

.menu-toggle.open .menu-icon {
  background-color: transparent;
}

.menu-toggle.open .menu-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.menu-toggle.open .menu-icon::after {
  transform: rotate(-45deg);
  top: 0;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 32px;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  justify-content: flex-end;
  transition: all 0.3s ease;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "Asap Condensed", sans-serif;
  font-size: 1rem;
}

.nav-link:hover {
  color: #ea4f33;
}



.auth-buttons .nav-link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0 8px;
}

.auth-buttons .secondary-button {
  background-color: transparent;
  border: 2px solid #fdfdfd;
  color: white;
}

.auth-buttons .secondary-button:hover {
  background-color: transparent;
  color: #ea4f33;
}

.auth-buttons .primary-button {
  background-color: #ea4f33;
  border: none;
  color: white;
}

.auth-buttons .primary-button:hover {
  background-color: #bb3f28;
  color: white;
  border: none;
}



@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #6d2c95, #4737bb);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 16px;
  }

  .nav-links.open {
    max-height: 200px;
  }

  .nav-link {
    margin: 16px 0;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
  }

  .auth-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: calc(100% + 154px);
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background: linear-gradient(to right, #6d2c95, #4737bb);
    transition: max-height 0.3s ease, padding 0.3s ease;
   margin-top: 1.9rem;
    
  }

  .auth-buttons.open {
    max-height: 150px;
  }

  .auth-buttons .nav-link {
    margin: 8px 0;
    width: 80%;
    max-width: 150px;
  }
}
