.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 4rem;
  flex-direction: row;
}

.login-background-text {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  width: 50%;
}

@keyframes typing {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    width: 100%;
    opacity: 1;
  }
  90% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.typing {
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 4s steps(40, end) infinite,
    blink-caret 0.75s step-end infinite;
}

.words {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.words .typing {
  display: inline-block;
  animation-fill-mode: both;
  margin: 10px 0;
  opacity: 0;
  animation: typing 18s ease-in-out infinite;
}

.words .typing:nth-child(1) {
  animation-delay: 0s;
}
.words .typing:nth-child(2) {
  animation-delay: 4s;
}
.words .typing:nth-child(3) {
  animation-delay: 8s;
}
.words .typing:nth-child(4) {
  animation-delay: 12s;
}
.words .typing:nth-child(5) {
  animation-delay: 16s;
}

.main-title {
  animation-delay: 20s;
  font-size: 2em;
  margin-bottom: 20px;
  opacity: 0;
  animation: typing 18s ease-in-out infinite;
}

.login-form select {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #4737bb;
  border-radius: 5px;
  background-color: white;
  color: #2a2170;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
    height: auto;
  }

  .login-background-text {
    height: auto;
    width: 100%;
    padding: 20px 0;
  }

  .login-container {
    width: 100%;
  }

  .login-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .main-title {
    font-size: 1.5em;
  }
}
