.full-height {
  height: 100vh;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: auto;
  margin-top: 9.375rem;
}

.text-content {
  flex: 1;
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.styled-paragraph {
  font-family: "Roboto", sans-serif;
  color: #4737bb;
  line-height: 1.2;
  font-size: 1.3rem;
  margin-top: 25px;
}

.button-container {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: fill;
}

.photo-stack {
  position: relative;
  width: 80%;
  margin-top: 2.5rem;
  margin-left: 160px;
}

.photo-stack .photo {
  width: 100%;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo-stack .photo-1 {
  z-index: 2;
  transform: none;
  width: 80%;
  height: 26rem;
}

.photo-stack .photo-2 {
  position: absolute;
  top: -5.625rem;
  left: -3.125rem;
  z-index: 1;
  width: 80%;
  height: 26rem;
  transform: rotate(-10deg);
}

.photo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 1rem;
  margin: 5px;
  box-shadow: inset 0 0 0 5px white;
}

.curved-line {
  width: 9.75rem;
  height: 0.9375rem;
  margin-left: 77%;
}

.carousel-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0;
}

.carousel-heading {
  font-family: "Asap Condensed", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #ea4f33;
  margin-top: 3rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.carousel-subheading {
  font-family: "Roboto", sans-serif;
  color: #fdfdfd;
  line-height: 1.2;
  font-size: 1.3rem;
  margin-top: 25px;
  margin-bottom: 2rem;
}
.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 31.25rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background: #ffffff;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  transition: left 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.carousel-item.active {
  left: 0;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 2;
  transition: background 0.3s ease;
}

.carousel-control.prev {
  left: 0;
  color: #ea4f33;
}

.carousel-control.next {
  right: 0;
  color: #ea4f33;
}

.section-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem;
  margin-top: 3rem;
  gap: 4rem;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.8) rotateX(10deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1) rotateX(0);
  }
}
.call-to-action {
  flex: 1;
  max-width: 600px;
  margin-right: 2rem;
  background: rgba(255, 255, 255, 0.9);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1.5s ease-in-out;
}

.call-to-action h2,
.countdown-content h2 {
  font-family: "Asap Condensed", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #ea4f33;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.call-to-action p {
  font-family: "Roboto", sans-serif;
  color: #2A2170;
  line-height: 1.2;
  font-size: 1.2rem;
  margin-top: 25px;
  margin-bottom: 2rem;
}

.icon {
  color: inherit;
  font-size: 2rem;
  display: block;
  margin: 0.5rem auto;
}

.section-countdown {
  flex: 1;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1.5s ease-in-out;
}

.countdown-content {
  margin-bottom: 1rem;
}

.countdown-item {
  display: inline-block;
  margin: 0 1rem;
  color: #2A2170;
}

.countdown-item span {
  font-size: 1.5rem;
  color: #ea4f33;
  font-weight: bold;
}

.countdown-text {
  font-size: 1.5rem;
  margin-top: 1.3rem;
  margin-bottom: 1rem;
  color: #2A2170;
}

.event-card {
  margin-top: 1rem;
  text-align: center;
}

.event-card img {
  height: 380px;
  border-radius: 1rem;
  margin-bottom: 1rem;
  object-fit: cover;
  cursor: pointer;
  margin-left: 12%;
}
.section-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding-top: 2rem;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
}

.form-and-photos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2rem;
}



.form-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: fill;
  margin-top: 20px;
}

.photo-stack.section-4-photo-stack {
  position: relative;
  width: 80%;
}

.photo-stack .photo {
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo-stack .photo-1 {
  z-index: 2;
  transform: none;
}

.photo-stack .photo-2 {
  position: absolute;
  top: -50px;
  left: 10px;
  z-index: 1;
  transform: rotate(-10deg);
}

.photo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 1rem;
  margin: 5px;
  box-shadow: inset 0 0 0 5px white;
}

@media (max-width: 768px) {
  .parallax {
    background-attachment: scroll;
  }
  .content-container {
    flex-direction: column;
    margin-left: 0;
  }

  .styled-paragraph {
    font-size: 0.87rem;
  }

  .curved-line {
    width: 4.25rem;
  }
  .photo-stack {
    width: 100%;
    margin-top: 2rem;
    margin-left: auto;
  }

  .photo-stack .photo-1,
  .photo-stack .photo-2 {
    width: 100%;
    height: 14rem;
  }

  .photo-stack .photo-2 {
    top: -2.5rem;
    left: -1.5rem;
    transform: rotate(-10deg);
  }
  .carousel {
    height: 20rem;
  }
  .carousel-control {
    padding: 0.25rem 0.5rem;
  }
  .carousel-heading {
    font-size: 1.3rem;
  }
  .carousel-subheading {
    font-size: 1rem;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .call-to-action,
  .section-countdown {
    width: 100%;
    margin-right: 0;
  }
  .countdown-content {
    height: 7rem;
    margin-bottom: 5rem;
  }
  .countdown-content h3 {
    font-size: 1rem;
  }
  .call-to-action h2,
  .countdown-content h2 {
    font-size: 1.2rem;
  }

  .call-to-action p {
    font-size: 1rem;
    margin-top: 10px;
  }

  .event-card img {
    width: 100%;
    height: 20%;
    margin-left: 0;
  }

  .section-4 {
    flex-direction: column;
    padding: 0.1rem;
  }

  .form-and-photos {
    flex-direction: column;
    align-items: center;
  }

  .form-container {
    margin-left: 0;
    height: 50%;
    width: 80%;
  }
 
  .photo-stack.section-4-photo-stack {
    width: 100%;
    margin-top: 5rem;
  }
  .form-card {
    max-width: 80%;
  }
}
