.full-height {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: auto;
  margin-top: 10rem;
  gap: 2rem;
}

.text-content {
  flex: 1;
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  animation: fadeInUp 1s ease-out;
}

.styled-paragraph {
  font-family: "Roboto", sans-serif;
  color: #4737bb;
  line-height: 1.2;
  font-size: 1.3rem;
  margin-top: 25px;
  animation: fadeInUp 1s ease-out;
}

.button-container {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  animation: fadeIn 1.5s ease-in-out;
}

.photo-stack {
  position: relative;
  width: 80%;
  margin-top: 2.5rem;
  margin-left: auto;
}

.photo-stack .photo {
  width: 100%;
  border-radius: 1rem;
  position: relative;
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.photo-stack .photo-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background: radial-gradient(
    circle at center,
    rgba(234, 79, 51, 0) 40%,
    rgba(109, 44, 149, 0.3) 70%,
    rgba(71, 55, 187, 0.5) 100%
  );
  z-index: 2;
  pointer-events: none;
}

.photo-stack .photo img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  border: none;
}

.photo-stack .photo-1 {
  z-index: 2;
  transform: none;
  width: 80%;
  height: 26rem;
}

.photo-stack .photo-2 {
  position: absolute;
  top: -5.625rem;
  left: -3.125rem;
  z-index: 1;
  width: 80%;
  height: 26rem;
  transform: rotate(-10deg);
  border: none;
  pointer-events: none;
}

.curved-line {
  width: 5.75rem;
  height: 0.9375rem;
  margin-left: 75%;
}

.carousel-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0;
}

.carousel-subheading {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  color: #fdfdfd;
  line-height: 1.2;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  animation: fadeIn 1s ease-out;
}
.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 36rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  background: transparent;
  animation: fadeInUp 1s ease-out;
  pointer-events: none;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  transition: left 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: radial-gradient(
    ellipse at center,
    rgba(109, 44, 149, 0) 40%,    
    rgba(71, 55, 187, 0.2) 70%,   
    rgba(234, 79, 51, 0.4) 100%   
  ); */
  background: radial-gradient(
    ellipse at center,
    rgba(109, 44, 149, 0) 30%,
    rgba(71, 55, 187, 0.3) 60%,
    rgba(234, 79, 51, 0.5) 100%
  );
  pointer-events: none;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.carousel-item.active {
  left: 0;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 2;
  transition: background 0.3s ease;
}

.carousel-control.prev {
  left: 0;
  color: #ea4f33;
}

.carousel-control.next {
  right: 0;
  color: #ea4f33;
}

.section-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding:6rem;
  margin-top: 3rem;
  gap: 3rem;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.8) rotateX(10deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1) rotateX(0);
  }
}

.call-to-action {
  flex: 1;
  max-width: 600px;
  margin-right: 2rem;
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1.5s ease-in-out;
  margin-left: 4rem;
}

.call-to-action h2,
.countdown-content h2 {
  font-family: "Asap Condensed", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #ea4f33;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.call-to-action p {
  font-family: "Roboto", sans-serif;
  color: #2a2170;
  line-height: 1.2;
  font-size: 1.2rem;
  margin-top: 25px;
  margin-bottom: 2rem;
}

.icon {
  color: inherit;
  font-size: 2rem;
  display: block;
  margin: 0.5rem auto;
}

.section-countdown {
  flex: 1;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1.5s ease-in-out;
  height: auto; 
}

.countdown-content {
  margin-bottom: 0.5rem;
}

.countdown-item {
  display: inline-block;
  margin: 0 1rem;
  color: #2a2170;
}

.countdown-item span {
  font-size: 1.5rem;
  color: #ea4f33;
  font-weight: bold;
}

.event-card {
  margin-top: 0.5rem;
  text-align: center;
}

.event-card img {
  height: 500px;
  border-radius: 1rem;
  object-fit: contain;
  cursor: pointer;
}
.section-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.form-and-photos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10rem;
  margin-bottom: 40px;
}

.form-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .parallax {
    background-attachment: scroll;
  }
  .content-container {
    flex-direction: column;
    margin-left: 0;
    gap: 2rem;
    margin-top: 0;
  }

  .styled-paragraph {
    font-size: 0.95rem;
  }
  .image-content {
    width: 80%;
    margin-left: 14%;
    margin-top: 4rem;
  }
  .curved-line {
    width: 3.25rem;
    margin-left: 50px;
  }
  .photo-stack {
    width: 90%;
  }
  .photo-stack .photo-1,
  .photo-stack .photo-2 {
    width: 100%;
    height: 15rem;
  }

  .carousel {
    height: 25rem;
  }
  .carousel-control {
    padding: 0.25rem 0.5rem;
  }

  .carousel-subheading {
    font-size: 0.875rem;
  }
  .icon {
    font-size: 1rem;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .countdown-content h3 {
    font-size: 1rem;
  }
  .call-to-action {
    padding: 1rem;
    margin: 1rem;
    max-width: 100%;
  }
  .call-to-action h2,
  .countdown-content h2 {
    font-size: 1.2rem;
  }

  .call-to-action p {
    font-size: 0.9rem;
  }

  .event-card img {
    width: 100%;
    height: 20%;
    margin-left: 0;
  }
  .call-to-action {
    max-width: 100%;
    margin: 0;
  }
  .section-4 {
    flex-direction: column;
    margin-top: 8rem;
  }

  .form-and-photos {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .form-container {
    width: 100%;
  }
}
