* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.secondary-button {
  background-color: #EA4F33; 
  color: white;
  border: none;
}

.secondary-button:hover {
  background-color: rgba(239, 68, 68, 0.8); 
}

.primary-button {
  background-color: transparent;
  color: white;
  border: 2px solid #FDFDFD;
}

.primary-button:hover {
  background-color: white;
  color: #6D2C95; 
}

.tertiary-button {
  background-color: #EA4F33; 
  color: white;
  padding: 8px 16px;
  border: none;
}

.tertiary-button:hover {
  background-color: #BB3F28;
}

.accent-button{
  background-color: #8937BB;
  color: white;
  padding: 8px 16px;
  border: none;
}

.accent-button:hover{
  background-color: #522170;
}

.secondary-button, .primary-button, .tertiary-button, .accent-button {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 1rem; 
  font-weight: bold;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

/* Estilos para los títulos */
h1 {
  font-family: 'Asap Condensed', sans-serif;
  font-weight: bold;
  font-size: 4rem;
}

h2 {
  font-family: 'Asap Condensed', sans-serif;
  font-weight: bold;
  font-size: 2.5rem; 
 
}

h3 {
  font-family: 'Asap Condensed', sans-serif;
  font-weight: semibold;
  font-size: 1.5rem; 
}

h4 {
  font-family: 'Asap Condensed', sans-serif;
  font-weight: semibold;
  font-size: 1.25rem;
}



.modal-overlay {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #6D2C95; 
  padding: 2rem;
  width: 90%;
  max-width: 800px;
  border-radius: 24px;
  overflow-y: auto;
  max-height: 90%;
  color: #fff; 
  direction: ltr; 
  text-align: left; 
}

.modal-close {
  display: flex;
  justify-content: flex-end;
}

.modal-close button {
  background: none;
  border: none;
  color: #EA4F33;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s;
}

.modal-header {
  margin-bottom: 1rem;
}

.modal-body {
  line-height: 1.5;
  padding: 1rem 0; 
}

.modal-body ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  padding-left: 1rem; 
}

.modal-footer {
  margin-top: 2rem;
  text-align: center; 
}

.bg1 {
  background-image: url('/public/bg1.png');
  background-size: cover;
  background-position: center;
}

.bg2 {
  background-image: url('/public/bg2.png');
  background-size: cover;
  background-position: center;
}

.bg3 {
  background-image: url('/public/bg3.png');
  background-size: cover;
  background-position: center;
}

.bg4 {
  background-image: url('/public/bg4.jpg');
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.form-card {
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.form-logo {
  width: 100px;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}


  
