* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.parallax {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  transition: background-position 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
   animation: moveBackground 20s linear infinite; 
   
  }

img {
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes moveBackground {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.primary-button {
  background-color: #ea4f33;
  color: white;
  border: none;
  transition: transform 0.2s ease-in-out;
}

.primary-button:hover {
  background-color: #821ad4;
  color: #fdfdfd;
  transform: scale(1.1);
}

.secondary-button {
  background-color: #821ad4;
  color: white;
  border: none;
  transition: transform 0.2s ease-in-out;
}

.secondary-button:hover {
  background-color: #ea4f33;
  color: #fdfdfd;
  transform: scale(1.1);
}

.tertiary-button {
  background-color: #ea4f33;
  color: white;
  padding: 8px 16px;
  border: none;
}

.tertiary-button:hover {
  background-color: #bb3f28;
}

.accent-button {
  background-color: #8937bb;
  color: white;
  padding: 8px 16px;
  border: none;
}

.accent-button:hover {
  background-color: #4737bb;
  color: #ea4f33;
  scale: 1.1;
}
.accent-button:active {
  transform: translateY(0);
  box-shadow: none;
}

.secondary-button,
.primary-button,
.tertiary-button,
.accent-button {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Asap Condensed", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  color: #ea4f33;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 2px 2px 4px rgba(0, 0, 0, 0.3);
  justify-content: left;
}

h2 {
  font-family: "Asap Condensed", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: #4737bb;
  line-height: 1.2;
}

h3 {
  font-family: "Asap Condensed", sans-serif;
  font-weight: semibold;
  color: #ea4f33;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 2rem;
}

h4 {
  font-family: "Asap Condensed", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

h5 {
  font-family: "Asap Condensed", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #ea4f33;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 2px 2px 4px rgba(0, 0, 0, 0.3);
}
span {
  color: #ea4f33;
  font-weight: bold;
  font-size: 1.5rem;
}

.modal-overlay {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: linear-gradient(to right, #6d2c95, #4737bb);
  padding: 2rem;
  width: 100%;
  max-width: 700px;
  border-radius: 24px;
  overflow-y: auto;
  max-height: 70%;
  color: #fff;
  direction: ltr;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-close {
  display: flex;
  justify-content: flex-end;
}

.modal-close button {
  background: none;
  border: none;
  color: #ea4f33;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s;
}

.modal-header {
  margin-bottom: 1rem;
}

.modal-body {
  line-height: 1.5;
  padding: 1rem 0;
  text-align: left;
  flex-grow: 1;
}
.modal-body p {
  font-size: 1.2rem;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  padding: 0.5rem 0 0 1rem;
  margin-top: 0.5rem;
  color: #eee;
}

.modal-body ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  padding-left: 1rem;
}

.modal-footer {
  text-align: center;
}

.bg1 {
  background-image: url("/bg1.png");

  background-size: cover;
  background-position: center;
}

.bg2 {
  background-image: url("/bg2.png");
  background-size: cover;
  background-position: center;
}

.bg3 {
  background-image: url("/bg3.png");
  background-size: cover;
  background-position: center;
}

.bg4 {
  background-image: url("/bg4.png");
  background-size: cover;
  background-position: center;
}
.bg5 {
  background-image: url("bg5.png");
  background-size: cover;
  background-position: center;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  max-width: 500px;
  width: 100%;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
}

.form-logo {
  width: 100px;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  position: relative;
  margin-bottom: 2rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #4737bb;
  font-size: 1rem;
  background: #f7f4fa;
  transition: background 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  background: #fff;
  border-color: #4737bb;
  box-shadow: 0 0 10px #4737bb, 0 0 20px rgba(71, 55, 187, 0.5);
}

.form-group label {
  position: absolute;
  top: 0;
  left: 0.75rem;
  transform: translateY(1.5rem);
  background: #fff;
  padding: 0 0.25rem;
  color: #4737bb;
  font-size: 1rem;
  pointer-events: none;
  transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease,
    top 0.3s ease;
}

.form-group input:focus + label,
.form-group textarea:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:not(:placeholder-shown) + label {
  transform: translateY(-0.75rem);
  color: #4737bb;
  font-size: 0.75rem;
}

.form-group textarea {
  resize: vertical;
}

.content-text {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  text-align: center;
  color: white;
  line-height: 1.5;
  font-size: 1.5rem;
  background: rgba(71, 55, 187, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: -150px;
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.875rem;
  }
  h4 {
    font-size: 0.855rem;
  }
  h5{
    font-size: 1rem;
  }
  span {
    font-size: 1.2rem;
  }

    .form-group input,
    .form-group textarea {
      font-size: 0.875rem;
 }
p{
  font-size: 0.875rem;;
}
  .primary-button,
  .secondary-button,
  .tertiary-button,
  .accent-button {
    font-size: 0.875rem;
    padding: 6px 12px;
  }

  .modal-content {
    padding: 1rem;
    width: 90%;
    max-width: 90%;
  }

  .form-card {
    padding: 1rem;
    width: 90%;
  }

  .content-text {
    margin-top: -50px;
    padding: 1.3rem;
  }
}
