.video-container {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax.bg4 {
  height: 130vh;
  padding-bottom: 20px;
}

.idea-card-content {
  color: #fdfdfd;
  margin-top: 10px;
}

.idea-card {
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  border: none;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.6),
    inset 1px 0 0 rgba(255, 255, 255, 0.6),
    inset -1px 0 0 rgba(255, 255, 255, 0.6),
    inset 0 -1px 0 rgba(255, 255, 255, 0.6), inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.idea-card:hover {
  transform: scale(1.05);
}

.idea-card.expanded {
  background: rgba(71, 55, 187, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.idea-card-title {
  color: #ea4f33;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-family: "Asap Condensed", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.collapse-container {
  padding: 2rem;
  margin: 2rem auto;
  width: 85%;
}

.collapse-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.icon-idea {
  width: 40px;
}

.ideas-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 768px) {
  .video-container {
    width: 100%;
    margin-bottom: 1rem;
  }
  .idea-card-content {
    font-size: 0.9rem;
  }

  .collapse-container {
    padding: 1rem;
    width: 100%;
  }
  .idea-card-title {
    font-size: 1.2rem;
  }
  .icon-idea {
    width: 30px;
  }
  .hide-on-mobile {
    display: none;
  }
  .show-on-mobile {
    display: none;
  }
}
