/* General Styles */
.description {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #4737bb;
    margin: 20px;
    margin-bottom: 500px;
  
  }
  
  
  
  /* Banner Styles */
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/public/bg1.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 80px 20px;
    position: relative;
    overflow: hidden;
    
  }
  
  .banner::before {
    content: "";
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px) saturate(200%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
  }
  
  .banner-quienes-somos {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  .banner-quienes-somos h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .banner-quienes-somos p {
    text-align: left;
    font-size: 1.5rem;
    max-width: 800px;
    margin: 20px auto;
    color: #4737bb;
  }
  
  /* Container Styles */
  .container-quienes-somos {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 20px;
   
  }
  
  .text-left,
  .text-right {
    flex: 1;
    min-width: 300px;
  }
  
  .text-left {
    text-align: left;
    margin-right: 20px;
  }
  
  .text-right {
    text-align: left;
    margin-left: 20px;
  }
  
  @media (max-width: 768px) {
    .banner h1 {
      font-size: 2rem;
    }
  
    .banner p {
      font-size: 1.2rem;
    }
  
  
    .container-quienes-somos {
      flex-direction: column;
      align-items: center;
     
    }
  
    .text-left,
    .text-right {
      margin: 20px;
      text-align: justify;
    }
  }
  
  