.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 20px;
    box-sizing: border-box;
    gap: 2rem;
  }
  
  .form-card {
    background: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    max-width: 500px;
    width: 100%;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    animation: fadeIn 1.5s ease-in-out;
  }
  
  .side-image {
    max-width: 300px;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 1rem;
    box-shadow: 
      2px 2px 5px rgba(0, 0, 0, 0.2), 
      4px 4px 10px rgba(0, 0, 0, 0.15), 
      8px 8px 20px rgba(0, 0, 0, 0.1), 
      16px 16px 40px rgba(0, 0, 0, 0.05);
  }
  
  .form-logo {
    width: 100px;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .form-group {
    position: relative;
    margin-bottom: 2rem;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #4737bb;
    font-size: 1rem;
    background: #f7f4fa;
    transition: background 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    outline: none;
    background: #fdfdfd;
    border-color: #4737bb;
    box-shadow: 0 0 10px #4737bb, 0 0 20px rgba(71, 55, 187, 0.5);
  }
  
  .form-group label {
    position: absolute;
    top: 0;
    left: 0.75rem;
    transform: translateY(1.5rem);
    background: #fff;
    padding: 0 0.25rem;
    color: #4737bb;
    font-size: 1rem;
    pointer-events: none;
    transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease, top 0.3s ease;
  }
  
  .form-group input:focus + label,
  .form-group textarea:focus + label,
  .form-group input:not(:placeholder-shown) + label,
  .form-group textarea:not(:placeholder-shown) + label {
    transform: translateY(-0.75rem);
    color: #4737bb;
    font-size: 0.75rem;
  }
  
  .form-card h2 {
    margin-bottom: 2.5rem; 
  }
  
  .primary-button {
    background-color: #ea4f33;
    color: white;
    border: none;
    transition: transform 0.2s ease-in-out;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
  }
  
  .primary-button:hover {
    background-color: #821ad4;
    color: #fdfdfd;
    transform: scale(1.1);
  }
  
  .success-message {
    margin-top: 20px;
    color: #4737bb;
  }
  
  .error-message {
    margin-top: 20px;
    color: #ea4f33;
  }
  

  
  
