.mentorship-page-container {
  display: flex;
  justify-content: center;

  min-height: 100vh;
  padding: 2rem;
  margin-top: 150px;
}

.mentorship-form-container {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  animation: fadeIn 1.5s ease-in-out;
  max-width: 1200px;
  width: 100%;
}

.mentorship-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-column {
  flex: 1 1 60%;
  padding: 2rem;
}

.logo-column {
  flex: 1 1 40%;
  background-color: #f7f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes logo-pulse {
  0%, 100% {
    transform: scale(1) rotate(0deg);
    box-shadow: 0 0 0px rgba(234, 79, 51, 0.5); /* Sombra inicial */
  }
  25% {
    transform: scale(1.05) rotate(-2deg);
    box-shadow: 0 0 10px rgba(109, 44, 149, 0.7); /* Sombra intermedia */
  }
  50% {
    transform: scale(1.1) rotate(3deg);
    box-shadow: 0 0 20px rgba(71, 55, 187, 0.9); /* Sombra en el pico */
  }
  75% {
    transform: scale(1.05) rotate(-1deg);
    box-shadow: 0 0 10px rgba(109, 44, 149, 0.7); /* Sombra intermedia */
  }
}


@keyframes logo-travel {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.2); /* Sombra inicial */
  }
  25% {
    transform: translate(15%, -10%) rotate(5deg);
    box-shadow: 5px 5px 15px rgba(234, 79, 51, 0.5); /* Sombra dinámica */
  }
  50% {
    transform: translate(0, -20%) rotate(-5deg);
    box-shadow: 0 10px 20px rgba(71, 55, 187, 0.7); /* Sombra en el pico */
  }
  75% {
    transform: translate(-15%, -10%) rotate(5deg);
    box-shadow: -5px 5px 15px rgba(109, 44, 149, 0.5); /* Sombra dinámica */
  }
}


@keyframes logo-rotate {
  0%, 100% {
    transform: rotate(0deg) scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra inicial */
  }
  25% {
    transform: rotate(10deg) scale(1.05);
    box-shadow: 5px 5px 15px rgba(234, 79, 51, 0.5); /* Sombra con color */
  }
  50% {
    transform: rotate(-10deg) scale(1.1);
    box-shadow: 10px -5px 20px rgba(71, 55, 187, 0.7); /* Sombra en el pico */
  }
  75% {
    transform: rotate(10deg) scale(1.05);
    box-shadow: -5px 5px 15px rgba(109, 44, 149, 0.5); /* Sombra dinámica */
  }
}


@keyframes logo-threeD {
  0% {
    transform: translate3d(0, 0, 0) rotateY(0deg) rotateX(0deg) scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra inicial */
  }
  25% {
    transform: translate3d(50%, -50%, 50px) rotateY(90deg) rotateX(10deg) scale(1.1);
    box-shadow: 5px 5px 15px rgba(234, 79, 51, 0.5); /* Sombra dinámica */
  }
  50% {
    transform: translate3d(0, -100%, 0) rotateY(180deg) rotateX(0deg) scale(1.05);
    box-shadow: 10px -10px 20px rgba(71, 55, 187, 0.7); /* Color de sombra diferente */
  }
  75% {
    transform: translate3d(-50%, -50%, -50px) rotateY(270deg) rotateX(-10deg) scale(1.1);
    box-shadow: -5px 5px 15px rgba(109, 44, 149, 0.5); /* Más sombra dinámica */
  }
  100% {
    transform: translate3d(0, 0, 0) rotateY(360deg) rotateX(0deg) scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Vuelve al estado inicial */
  }
}


.animate-logo-pulse {
  animation: logo-pulse 2s ease-in-out infinite;
}

.animate-logo-travel {
  animation: logo-travel 5s infinite ease-in-out;
}

.animate-logo-rotate {
  animation: logo-rotate 3s ease-in-out infinite;
}

.animate-logo-threeD {
  animation: logo-threeD 6s infinite ease-in-out;
}

.message {
  margin-top: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.text-error {
  color: #ea4f33;
}

.text-success {
  color: #2a2170;
}
